.bg-orange {
    background-color: orange;
}

.trening  {
    text-transform: uppercase;
}

.blog-post {
    text-align: center;
    align-items: center;
    border-radius: .8rem;
    padding: 0 1.5rem;
    max-width: 98rem;
    padding: 1rem;
    margin-bottom: 50px;
}

.blog-post:hover {
    text-align: center;
    align-items: center;
    border-radius: .8rem;
    padding: 0 1.5rem;
    max-width: 98rem;
    padding: 1rem;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,1) !important;
    transition: 1s;
}

.blog-post-img img {
    height: 13rem;
    border-radius: .8rem;
    margin-top: 5rem;
}

.blog-post-title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: black;
}

.blog-post-text {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}