.bg-white{
    background-color: white !important;
}

.name {
    color: black !important;
}

.card {
    background-color: orange !important;
    display: flex;
    align-items: center;
    border-radius: .8rem;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 98rem;
    padding: 1rem;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,1) !important;
    margin-bottom: 100px;
}

img { 
    border-radius: 10px;
}

.p-title {
    color: white;
    font-size: 20px;
}